body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height:100vh;
}

h1{
    font-family: Outfit;
    text-align: center;
    font-size: 22px;
    color: hsl(218, 44%, 22%);
    font-weight: bold;
    margin-top: 0px;
}

h2{
    font-family: Outfit Thin;
    text-align: center;
    font-size: 15px;
    color: hsl(216, 15%, 48%);
    padding-bottom: 30px;
}

img{
    padding: 16px;
    border-radius: 25px;
}

.container{
    background-color: hsl(0, 0%, 100%);
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}